#-e git+http://github.com/rootAir/rootAir.git@fc2f0c51a9596ecada2e31c5b3f63341ad6bc0f1#egg=API_Example-master
#Django==1.8.1  #Error importing debug panel debug_toolbar.panels.templates: "cannot import name get_standard_processors"
Django==1.7.1
django-compressor==1.4
django-debug-toolbar==1.11.1
django-toolbelt==0.0.1
sqlparse==0.1.13
drf-nested-routers==0.9.0
static3==0.5.1
#wsgiref==0.1.2
dj-static==0.0.6
Fabric==1.10.1
Flask==0.10.1
Flask-Bootstrap==3.1.1.1
Flask-Login==0.2.10
Flask-Mail==0.9.0
Flask-Migrate==1.2.0
Flask-Moment==0.3.0
Flask-PageDown==0.1.4
Flask-SQLAlchemy==2.0
Flask-Script==0.6.7
Flask-WTF==0.9.4
Jinja2==2.7.3
Mako==1.0.0
Markdown==2.4
MarkupSafe==0.23
Pillow==2.8.1
SQLAlchemy==1.0.4
Unidecode==0.04.17
WTForms==1.0.5
Werkzeug==0.9.6
alembic==0.6.7
amqp==1.4.6
amqplib==1.0.2
anyjson==0.3.3
app-version==0.2.1
argparse==1.2.2
billiard==3.3.0.20
bleach==1.4
blinker==1.3
boto==2.38.0
carrot==0.10.7
celery==3.1.18
colorama==0.3.2
coverage==3.7.1
dateutils==0.6.6
dj-database-url==0.3.0
django-appconf==1.0.1
django-extensions==1.5.5
django-inspectional-registration==0.4.6
django-postgrespool==0.3.0
django-storages==1.1.8
djangorestframework==3.0.0
dropbox==2.2.0
ecdsa==0.11
gnureadline==6.3.3
google-api-python-client==1.3.1
gspread==0.2.2
gunicorn==19.3.0
html5lib==0.999
httplib2==0.9
ipdb==0.8
ipython==2.3.1
itsdangerous==0.24
kombu==3.0.26
node==0.9.15
nose==1.3.1
numpy==1.9.1
oauth2client==1.4.2
oauthlib==0.7.2
odict==1.5.1
paramiko==1.15.2
pep8==1.5.7
pika==0.9.14
plumber==1.3
psycopg2==2.6
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycrypto==2.6.1
python-dateutil==2.3
python-gflags==2.0
python-nvd3==0.13.8
python-slugify==0.1.0
pytz==2015.4
redis==2.10.3
requests==2.6.0
requests-oauthlib==0.4.2
rsa==3.1.4
selenium==2.45.0
simplejson==3.6.5
six==1.8.0
tolerance==0.1.2
trello==0.9.1
uritemplate==0.6
urllib3==1.10.2
virtualenv==1.11.6
whitenoise==1.0.6
xlrd==0.9.3
zope.component==4.2.2
zope.deprecation==4.1.2
zope.event==4.0.3
zope.interface==4.1.2
zope.lifecycleevent==4.1.0
