{% extends "admin/base.html" %}

{% block title %} {{ title }} | RootAir{% endblock %}

{% block extrastyle %}
<style>
    #header {
        background-color: #058BCC;
        color: #cfcc72
    }
    .module h1, .module caption, .inline-group h1 {
        font-size: 12px;
        background: #1F76D4 !important;
    }
    .change-list h1 {
        font-size: 18px;
        color: #666;
        font-weight: bold;
    }
</style>

<!--<div class="front-bg">-->
<!--<img class="front-image" src="//abs.twimg.com/b/front_page/v1/BR_4.jpg" alt="" style="display: block;">-->
<!--</div>-->

{% endblock %}



{% block branding %}




<h1 id="site-name"><a href="{% url 'admin:index' %}"> RootAir - your hedge</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
