<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link href="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.css" rel="stylesheet" />
        <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/nvd3/1.7.0/nv.d3.min.js"></script>
    </head>
    <body>
        
    

<h2>Closed Sat - time activity (144.0 hours weeks)</h2>

<div id="closed_sat_time_activity_144_0_hours_weeks"><svg style="width:450px;height:450px;"></svg></div>


    <script>



    data_closed_sat_time_activity_144_0_hours_weeks=[{"values": [{"label": "Fun", "value": 54.5}, {"label": "Person", "value": 46.5}, {"label": "Task", "value": 31.0}, {"label": "Study", "value": 11.0}, {"label": "Sport", "value": 1.0}], "key": "Serie 1"}];

    nv.addGraph(function() {
        var chart = nv.models.pieChart();
        chart.margin({top: 30, right: 60, bottom: 20, left: 60});
        var datum = data_closed_sat_time_activity_144_0_hours_weeks[0].values;

    chart.tooltipContent(function(key, y, e, graph) {
          var x = String(key);
              var y =  String(y)  + ' hs';

              tooltip_str = '<center><b>'+x+'</b></center>' + y;
              return tooltip_str;
              });
        chart.showLabels(true);

            chart.donut(false);

    chart.showLegend(true);




        chart
            .x(function(d) { return d.label })
            .y(function(d) { return d.value });

        chart.width(450);

        chart.height(450);


            d3.select('#closed_sat_time_activity_144_0_hours_weeks svg')
            .datum(datum)
            .transition().duration(500)
            .attr('width', 450)
            .attr('height', 450)
            .call(chart);


        });



    </script>

    </body>
</html>